.CountryBox {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px 10px;
  width: 80%;
  background-color: var(--color-bg-secondary);
  border-radius: 5px;
}

@media screen and (min-width: 460px) {
  .CountryBox {
    width: 350px;
  }
}

.details {
  padding: 1em 1em;
}
